{% extends "bills/base_bills.html" %}
{% load humanize %}

{% block content %}
<div class="row-fluid sortable">    
      <div class="box span12">
        <div class="box-header well" data-original-title>
          <h2><i class="icon icon-darkgray icon-contacts"></i> Account Collections Report</h2>
          <div class="box-icon">
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
          </div>
        </div>

        <div class="box-content">
        <h2>FelizAna Estate Subdivision</h2>
        <h5>Pasong Buaya, Imus, Cavite<br/>
          Tel No. (046) 484-4268</h5>
        <h3>Collection Report</h3>
        <h5>As of {% now "F d, Y h:i A" %}</h5>
        <p></p>
      <h3>Collection  Per Area</h3>
      <a class="btn btn-primary" href="/accounts/collection/csv"><i class="icon-white icon-download-alt"></i> Download Collection Report </a>
        <table class="table table-condensed">
        <thead>
          <tr><th>Area</th>
            <th>Total Collected Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for ag in aggregate %} 
          <tr><td>{{ag.address4}}</td><td> {{ag.col | floatformat:2 | intcomma}}</td></tr>
          {% endfor %}
          <tr><td><strong>Total</strong></td><td><strong>{{aggregate_total | floatformat:2 | intcomma}}</strong></td></tr>
        </tbody>
        
      </table>
        <!--
        <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Address</th>
                  <th>Customer Name</th>
                  <th>Latest Bill Date</th>
                  <th>Previous Balance</th>
                  <th>Current Charge</th>
                  <th>Penalty</th>
                  <th>Amount Due</th>
                  <th>Posted Payments (Post Date >= Bill Date)</th>
                  <th>Collectibles</th>
                </tr>
              </thead>   
              <tbody>
              {% for account in account_list %}
              <tr>
                <td>{{account.address1}}</td>
                <td><a href="/accounts/{{account.pk}}">{{account.customer}}</a></td>
                <td>{{account.bill_date}}</td>
                <td><span class="pull-right">{{account.previous_balance | floatformat:2 | intcomma}}</span></td>
                <td><span class="pull-right">{{account.current_charge | floatformat:2 | intcomma}}</span></td>
                <td><span class="pull-right">{{account.penalty_amount | floatformat:2 | intcomma}}</span></td>
                <td><span class="pull-right">{{account.amount_due | floatformat:2 | intcomma}}</span></td>
                <td><span class="pull-right">{{account.total_posted_payment | floatformat:2 | intcomma}}</span></td>
                <td><span class="pull-right">{{account.latest_balance | floatformat:2 | intcomma}}</span></td>
              </tr>
              {% endfor %}
              
              </tbody>
            </table>  
        -->
        </div>

    </div> <!-- end row-fluid -->

{% endblock %}
